/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/
body, #main {
	vertical-align:baseline; 
	margin: 0; padding: 0; border: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; line-height: 15px;
	background: rgba(57,55,55,0.93);
}
#main {
	vertical-align:baseline; 
	margin: 0; padding: 0; border: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; line-height: 15px;
	background: white;
}
/* basic page layout */
#header { 
	padding-top: 1px;
	overflow: hidden;
	padding-left: 50px;
	background: #1A446C; color: #D4E6F4;
	/* text-shadow: 10px 10px 5px hsla(120,90%,40%,.7); */
}
#headerTitle { 
	width: 300px;
	overflow: hidden;
	float: left;
}
#loginForm{
	float: right;
	background: #1A446C; color: #D4E6F4;
	/* text-shadow: 10px 10px 5px hsla(120,90%,40%,.7); */
	width: 520px; 
	}

#mainNav {
	background: #1A446C;
	/* text-shadow: 8px 10px 4px hsla(120,90%,40%,.7); */
	
}
.page {
	overflow: hidden;
	padding-left: 50px;
	background: #1A446C;
	color: #000000;
	background: white;
}
#miniDisplay{
	float: left; 
	padding-left: 50px;
	background: #1A446C;
	color: #000000;
	background: white;
	width: 350px;

}
#mainDisplay #videoPlayer{
	float: right; 
	margin-right: 75px;
	.vjs-default-skin { color: #30fa00; }
	.vjs-default-skin .vjs-play-progress,
	.vjs-default-skin .vjs-volume-level { background-color: #1ea4ee }

}
#contactInfo{
	float: left;
	width: 392px;
}
#classFiles, #classVideos{
	padding-left: 50px;
	background: #1A446C; 
	color: #000000;
	background: white;
	height: 400px;
	overflow: auto;
}
#footer { 
	height: 150px;
	background:#1A446C; 
	color: #D4E6F4;
    text-align: center; 
}

/*nav styles*/
#navigation{ 
	overflow: hidden;	
	background: #1A446C; 
	color: #D4E6F4;
	margin-left: 50px;
}
#navigation li {
	float: left;
	background: #1A446C;
	list-style: none;
	text-align: center;
}
#navigation a {
	text-transform: uppercase; 
	color: #ffffff;
	background-color: #333333;
	font-size: 1.2em;
	text-align: center;
	line-height: 36px;
	border: none;
	border-radius: 20px;
}
#navigation a:hover { background-color: #666666; }

/* Forms */

/* Calendars */
#weeklyCalendar {
	padding-right: 5px; 
	float: left;
	color: #D4E6F4; 
	background: transparent;
	width: 295px;
	height: 400px;
	padding-bottom: 10px;
} 
#classCalendar{
	padding-right: 50px; 
	float: right;
	color: #D4E6F4; 
	background: transparent;
	width: 600px;
	height: 400px;
	padding-bottom: 10px;
}

/* header */
#header h1 { padding: 1em; margin: 0;}

/* links */
a, a:visited{
	background: red;
}
a {	
	margin-left: 10px;
	text-decoration: none;
	padding: 5px 10px;
	margin-bottom: 2px;
	text-transform: capitalize; 
	 /* try #689DC1 or #1A446C */
	color: #ffffff;
	font-size: 1.2em;
	text-align: center;
	line-height: 36px;
	border: none;
	border-radius: 20px;
}
a:visited{
	color: black;
	background: #689DC1;
}
a:hover{
background: #D4E6F4;
	color: #1c6dd6;
}
a:active{
	color: #1c6dd6;
	background: hotpink;
}



/*////////// NEXT SECTION TO PLAY WITH ///////////// */

 
ul.menuBar { 
	margin: 1em; padding-left: 0; list-style: none; font-weight: normal;
}
ul.page { padding-left: 2em; list-style: none; font-weight: normal; background: transparent; display: block;}

#selected { font-weight: bold; }
.selected { font-weight: bold; }



/* Page Content */
/*  ///////////////////////////////////////////////////////////////////////////////////////////////////
#main { 
	height: 600px; width: 100%; 
	margin: 0; padding: 0; 
	background: transparent;
}
 /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Page Content */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////
#page h2 { color: #8D0D19; margin-top: 1em;}
#page h3 { color: #8D0D19; }
.content {width: 200;
	
}
.view-content {
	margin: 1em; padding: 1em; border: 1px sod #999;
}
 /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* change these colors */
div.message { 
	color: red;
	border: 2px solid #8D0D19;
	padding: 1em;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	float: left;
	background: #1A446C; 
	text-shadow: none;
	width: 270px;
	float: left;
	margin-top: -2em;
	border-radius: 20px;	
}

/* errors */
.error {
	color: #8D0D19; 
	border: 2px solid #8D0D19;
	padding: 1em;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	float: left;
	background: #1A446C; color: #D4E6F4;
	text-shadow: none;
	width: 270px;
	margin-right: 1em;
	margin-top: -2em;
	border-radius: 20px;	
}
.loginError {
	color: red;
	text-shadow: none;	 
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	/* text-shadow: 10px 10px 5px hsla(120,90%,40%,.7); */
	
}
.error ul { padding-left: 2em; color: red;  }